Data Preprocessing:

In [ ]:
import numpy as np
import pandas as pd

In [3]:
# Load the data
data = pd.read_csv('D:/Github/customer-churn-prediction/Data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [4]:
# Handle missing values
data = data.dropna()

In [5]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Observations

The Total_Charges column appears as an object data type, but it contains numerical values, so it should be converted to either float or int type.

The Senior_Citizen column is currently defined as int64 and takes values between 0 and 1. It could be more appropriately categorized.

The relationship between Monthly_Charges and Total_Charges should be examined, as there is typically a connection between monthly fees and total charges in customer services.

For the Churn column, which serves as the target variable in this project, the balance of its distribution should be reviewed, and appropriate methods should be applied if there is imbalance.

Machine learning algorithms generally perform better with numerical inputs. Therefore, I will convert the Churn variable to 1 and 0.

Customer_Id will be excluded because it will not be used as an independent variable in analysis or modeling processes.

To perform a more effective describe operation, it is necessary to first organize the variable types in your dataset.

I will review the correlation matrix to determine which variables may not be useful for predicting churn. This analysis will show which variables have stronger relationships with churn.

In [7]:
# Data type changes

data.drop("customerID", axis=1, inplace=True) # I won't use it in future steps.

data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

data["SeniorCitizen"] = data["SeniorCitizen"].astype("category")

In [9]:
data["Churn"].value_counts() / len(data) ## imbalanced data

No     0.73463
Yes    0.26537
Name: Churn, dtype: float64